body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

h1 {
  --color-one: hsl(210 80% 50%);
  --color-two: hsl(320 100% 75%);
  --stretch-multiplier: 5;
  font-size: clamp(2rem, 14vmin, 5rem);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  display: grid;
  line-height: 1;
}

p {
	--n: 4;
	box-sizing: border-box;
	width: min(100%, 30em);
	color: #121212;
	font: roboto condensed, sans-serif;
	filter: url(#tear);
}

#UI {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;
}

.UIwindow {
    text-align: center;

    background-color: white;
    border-radius: 20px;

    width: 50%;
    padding: 40px 30px;

    gap: 10px;
}

#upgradesContainer {
    width: 100%;

    display: flex;
    gap: 20px;
}

.upgrade {
    width: 33.33%;
    padding: 5px;
    border: 1px double black;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

#upgradesContainer :hover {
    background-color: aliceblue;
}

.upgrade h2 {
    color: white;
    font-size: 2rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.upgrade > p {
    padding: 10px;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}